body {
    font-family: Rockwell, serif;
    background: #f3f3f3;
    margin: 0;
    padding: 0;
}

.contenedor {
    width: 85%;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

h1 {
    text-align: center;
    color: #444;
}

h2 {
    margin-top: 30px;
    color: #333;
}

p, ul {
    font-size: 16px;
    line-height: 1.6;
    color: #444;
}

.imagen {
    margin: 20px 0;
    text-align: center;
}

.imagen img {
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.pie {
    font-size: 14px;
    color: #555;
    margin-top: 5px;
}
